@import "compass/css3";

@import url(//fonts.googleapis.com/css?family=Oswald:300);

html, body, .wrapper { height: 100%; }
body {
    background: url(http://saltlord.tech/image/allsee.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @include background-size(cover);
  font-family: 'Oswald', sans-serif;
}
canvas{
  bottom: 1px;
    right: 1px;
    position: absolute;
  cursor:move;
}
.wrapper {
  background-image: url();
  width: 100%;
}
.holder {
  position: absolute;
  top: 50%;
  height: 300px;
  width: 100%;
  margin-top: -170px;
}
a.animBtn:link, a.animBtn:visited {
    position: relative;
    display: block;
    width: 180px;
    margin: 30px auto 0;
    padding: 14px 15px;
    border: 2px solid #000000;
    background: rgba(255,255,255,0.2);
    color: #4d4d4d;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0,0,0,0.2), 0 1px 0 rgba(0,0,0,0.2);
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
    &:after {
      content: "";
      position: absolute;
      background: none repeat scroll 0 0 #e60000;
      height: 0%;
      left: 50%;
      top: 50%;
      width: 100%;
      z-index:-1;
      -webkit-transition: all .3s ease 0s;
         -moz-transition: all .3s ease 0s;
           -o-transition: all .3s ease 0s;
              transition: all .3s ease 0s;
    }
    &:hover {
      color: #333;
      text-shadow: none;
      &:after {
        height: 420%;
      }
    }
}
a.animBtn {
  &.themeA:after {
    @include transform(translateX(-50%) translateY(-50%) rotate(-45deg));
  }
  &.themeB:after {
    @include transform(translateX(-50%) translateY(-50%) rotate(45deg));
  }
  &.themeC:after {
    opacity: .5;
    @include transform(translateX(-50%) translateY(-50%));
  }
  &.themeC:hover:after {
    height: 140%; opacity: 1;
  }
  &.themeD:after {
    width: 0%;
    border-radius: 50%;
    opacity: .5;
    @include transform(translateX(-50%) translateY(-50%));
  }
  &.themeD:hover:after { height: 450%; width: 110%; opacity: 1; }
  }